NEXT_PUBLIC_PLAUSIBLE_DOMAIN=etudesk.com
# Plausible Cloud site script:
NEXT_PUBLIC_PLAUSIBLE_SRC=https://plausible.io/js/pa-SKHvpHlKIaWNsUZpRA8NU.js
# Plausible self-hosted example:
# NEXT_PUBLIC_PLAUSIBLE_SRC=https://analytics.etudesk.com/js/script.outbound-links.js
